<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>PDF-TXT-X-TRCT</title>
  <link rel="stylesheet" href="styles/style.css">
</head>

<body>
  <div class="content">

    <form action="/upload" method="post" enctype="multipart/form-data">
      <div class="page">
        <h1>Upload a PDF File:</h1>
        <input id="fileInput" type="file" name="pdf" accept="application/pdf" required />
      </div>
      <button id="extractButton" type="submit">Extract Text</button>
    </form>
  </div>
</body>
<script>
  const extractButton = document.querySelector('#extractButton');
  const fileInput = document.querySelector('#fileInput');
  fileInput.addEventListener('change', function (e) {
    if (e.target.files[0]) {
      fileInput.style.borderColor = 'green';
    } else {
      fileInput.style.borderColor = 'white';
    }
  });
</script>
</html>